header {
    background-color: #d58512;
    color: white;
    text-align: center;
}

body {
    background-color: #d6e9c6;
}

.toprow {
    margin: 10px;
    height: 60px;
}

.playerName {
    font-size:  24px;
    text-align: center;
    padding-bottom: 20px;
}

.rps {
    text-align: center;
    padding: 5px;
}

#box2 {
    font-size: 20px;
    text-align: center;
}

.rps:hover {
    background-color: #008CBA;
    cursor: pointer;
    cursor: hand;
}

.ptotals {
    font-size: 12px;
    text-align: center;
    padding-top: 25px;
}

.topMsg {
    padding: 5px;
}

#playerNameText {
    width: 400px;
    float: left;
}

#chatDiv {
    width: 600px;
    height: 200px;
    margin: 5px;
    background-color: white;
}
#chatText {
    width: 600px;
    float: left;
}

.gamebox {
    border: 1px solid green ;
    width: 260px;
    height: 220px;
    margin: 5px;
}

.chatP {
    margin: 0px;
}

.footer {
    background: #999999;
    text-align: center;
    padding: 10px;
    /*margin-top: 5px;*/
    /*border-top: thick solid #6ea3da;*/
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: white;
    font-size: x-small;
    z-index: -1;
}

.footer:after {
    content: "\00a9 Copyright 2017 Curtis Lytle";
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}